<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>File Converter Home | G²</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to G<sup>2</sup> Converter</h1>
    <div class="buttons">
      <a href="/pdf2docx" class="convert-button">PDF ➡ DOCX</a>
      <a href="/docx2pdf" class="convert-button">DOCX ➡ PDF</a>
    </div>
    <footer>
      &copy; 2025 <span class="brand">G<sup>2</sup></span> | All Rights Reserved
    </footer>
  </div>
</body>
</html>
