<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DOCX to  PDF Converter | G²</title>
     <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}"> -->
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<body>
    <div class="container">
    <h1 id="center">LOVE TO CONVERT </h1>
    <h2 id="title"> DOCX TO PDF </h2>
    <form method="post" enctype="multipart/form-data" id="uploadfrom">
        <div id="dropZone">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="17 8 12 3 7 8"></polyline>
                <line x1="12" y1="3" x2="12" y2="15"></line>
                </svg>
            
                <p>Drag & drop PDF</p> 
                <p class="small"> or Click to select </p>
                <input type="file" name="file" accept=".docx" id="fileInput" required >
            </div>
            <p id="fileInfo"></p>
            <button type="submit" id="uploadButton"> 
        <span id="buttonText" >Convert Now</span>
        <span id="spinner" class="hidden"></span>
    </button>
</form>
</div>

    <footer>
        <div id="footer-content">
       <span>© Copyright 2025</span>
            <span class="brand">G<sup>2</sup></span>
            <span>| 02-06-2025</span>
    </div>
    </footer>
    
</body>

<script src="/static/js/docx2pdf.js"></script>
</html>